<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
  <test name="RegressionTest1" >
    <classes>
       <class name="TestSuites.TestCase01" />
       <class name="TestSuites.TestCase02" />
       <class name="TestSuites.TestCase03" />
    </classes>
  </test>
</suite>
